<div class="header">
  <a href="/"><img id="logo" src="files/OTech.jpg"></a>
  <hr/>
  <div class="menu">
    <i class="fas fa-briefcase"></i> <a href="diensten.html">Diensten</a> |
    <i class="fas fa-thumbs-up"></i> <a href="referenties.html">Referenties</a> |
    <i class="fas fa-pen-nib"></i> <a href="blog.html">Blog</a> |
    <i class="fas fa-archive"></i> <a href="archive.html">Archief</a> |
    <i class="fas fa-tags"></i> <a href="tags.html">Tags</a> |
    <i class="fas fa-rss"></i> <a href="rss.xml">RSS feed</a>
  </div>
</div>
